/jsp/jsp-ex1-GetStarted/target/
/jsp/upwork/nbproject/private/
/jsp/upwork/build/
/jsp/jsp-ex3-ImplicitObjects/target/
/jsp/jsp-ex4-implicitobject-config/target/
/jsp/jsp-ex4-implicitobject-config/nbproject/private/
/jsp/jsp-ex4-implicitobject-config/build/
/jsp/jsp-ex4-implicitobject-config/dist/