/jsp/jsp-ex1-GetStarted/target/
/jsp/upwork/nbproject/private/
/jsp/upwork/build/
/jsp/jsp-ex3-ImplicitObjects/target/
/jsp/jsp-ex4-implicitobject-config/target/
/jsp/jsp-ex4-implicitobject-config/nbproject/private/
/jsp/jsp-ex4-implicitobject-config/build/
/jsp/jsp-ex4-implicitobject-config/dist/
/jsp/jsp-ex10-actiontag-forwardWithtag/nbproject/private/
/jsp/jsp-ex-8-errorPage/build/
/jsp/jsp-ex-8-errorPage/nbproject/private/
/jsp/jsp-ex5-implicitObject-session/build/
/jsp/jsp-ex5-implicitObject-session/dist/
/jsp/jsp-ex5-implicitObject-session/nbproject/private/
/jsp/jsp-ex6-implicitObject-pageContext/build/
/jsp/jsp-ex6-implicitObject-pageContext/nbproject/private/
/jsp/jsp-ex7-implicitObject-page/build/
/jsp/jsp-ex7-implicitObject-page/nbproject/private/
/jsp/jsp-ex9-actionTag-forward/build/
/jsp/jsp-ex9-actionTag-forward/nbproject/private/
/jsp/jsp-ex10-actiontag-forwardWithtag/dist/
/jsp/jsp-ex10-actiontag-forwardWithtag/build/
/jsp/jsp-ex11-actionTag-include/nbproject/private/
/jsp/jsp-ex11-actionTag-include/dist/
/jsp/jsp-ex11-actionTag-include/build/
/jsp/jsp-ex12-bean/nbproject/private/
/jsp/jsp-ex12-useBean/nbproject/private/
/jsp/jsp-ex12-useBean/build/
/jsp/jsp-ex12-useBean/dist/
/jsp/jsp-ex13-getSetProperty/nbproject/private/
/jsp/jsp-ex13-getSetProperty/build/
/jsp/jsp-ex13-getSetProperty/dist/
/jsp/jsp-ex14-reuseBeen/nbproject/private/
/jsp/jsp-ex14-reuseBeen/build/
/jsp/jsp-ex14-reuseBeen/dist/
/jsp/jsp-ex15-crud/nbproject/private/
/jsp/jsp-ex15-crud/build/
/servlet/servlet-ex1-GetStared/nbproject/private/
/servlet/servlet-ex1-GetStared/build/
/servlet/servlet-ex1-GetStared/dist/
/servlet/servlet-ex2-WelcomeFiles/nbproject/private/
/servlet/servlet-ex2-WelcomeFiles/build/
/servlet/servlet-ex3-RunServletWithoutHtmlJSP/nbproject/private/
/servlet/servlet-ex3-RunServletWithoutHtmlJSP/build/
/servlet/servlet-ex3-RunServletWithoutHtmlJSP/dist/
/servlet/servlet-ex3-LoadOnStartup/nbproject/private/
/servlet/servlet-ex4-ServletContext/nbproject/private/
/servlet/servlet-ex4-ServletContext/build/
/servlet/servlet-ex5-ServletConfig/nbproject/private/
/servlet/servlet-ex5-ServletConfig/build/
/servlet/servlet-ex6-ServletRequest/nbproject/private/
/servlet/servlet-ex6-ServletRequest/build/
/servlet/servlet-ex7-ServletResponse/nbproject/private/
/servlet/servlet-ex8-RequestDispatcher/nbproject/private/
/servlet/servlet-ex8-RequestDispatcher/dist/
/servlet/servlet-ex8-RequestDispatcher/build/
/servlet/servlet-ex9-SendRedirect/nbproject/private/
/servlet/servlet-ex9-SendRedirect/dist/
/servlet/servlet-ex9-SendRedirect/build/
/servlet/servlet-ex10-SimpleFilter/nbproject/private/
/servlet/servlet-ex10-SimpleFilter/build/
/servlet/servlet-ex10-SimpleFilter/dist/
/servlet/servlet-ex11-FilterInAuthentication/nbproject/private/
/servlet/servlet-ex11-FilterInAuthentication/dist/
/servlet/servlet-ex11-FilterInAuthentication/build/
/servlet/servlet-ex12-FilterConfig/nbproject/private/
/servlet/servlet-ex12-FilterConfig/dist/
/servlet/servlet-ex12-ErrorPage/nbproject/private/
/servlet/servlet-ex12-ErrorPage/dist/
/servlet/servlet-ex12-ErrorPage/build/