<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Pro JSP - Chapter 2 MVC Store Example</display-name>

	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.apress.projsp.store.FrontController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>

 	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/header.jsp</include-prelude>
			<include-coda>/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>

    <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>com.apress.projsp.store.ItemAlreadyAddedException</exception-type>
        <location>/duplicateItem.html</location>
    </error-page>

</web-app>
